/*
 * Fix css in main.css
 */
.nav-container{
    width: 943px !important;
}


.ea-step-title-box {
    background-color: rgba(58,61,61,0.8);
    display: table;
    padding-top: 1px;
    width: 100%;
}

.ea-step-title {
    color: #FFFFFF;
    font-family: OpenSansBold;
    font-size: 21px;
    font-weight: bold;
    line-height: 31px;
    margin-left: 25px;
    margin-top: 30px;
    text-transform:uppercase;
}

.ea-text-select-state {
    color: #760519;
    font-family: VolkhovBoldItalic;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 20px;
    width: 675px;
}

.ea-styled-select {
    background: url(/earrangement/assets/images/img-arrow-select.jpg) no-repeat scroll right center #e4e9e5;
    display: inline-block;
    height: 33px;
    margin-left: 25px;
    overflow: hidden;
    vertical-align: middle;
    width: 235px;
    padding-top:5px;
}


.ea-styled-select select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #3A3D3D;
    font-family: Conv_novecentowide-demibold;
    font-size: 18px;
    height: 35px;
    margin-top: 0;
    padding-left: 5px;
    padding-top: 0;
    text-transform: uppercase;
    vertical-align: middle;
    width: 255px;
}

#content-ea {
    background-color: #FFFFFF;
    display: table;
    width: 943px;
    padding-top:20px;
    padding-bottom:20px;
    position: relative;
}

#ea-content-inner {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    margin-left: 20px;
    min-height: 550px;
    width: 550px;
}

/*#ea-bottom {
        clear: both;
        margin: 0 auto;
        padding-bottom: 20px;
        padding-top: 20px;
        width: 875px;
}*/

.ea-bottom-line {
    border-top: 1px solid #574E40;
}

.ea-bnt{
    clear: both;
    color: #FFFFFF;
    font-family: OpenSansSemibold;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 5px;
    padding-top: 10px;

}

.ea-total-line {
    /*display: table;*/
    /*width: 100%;*/
    padding:0 15px 0 18px;
}
#ea-bottom {
    background-color: #3A3D3D;
    clear: both;
    padding: 18px;
}
button.ea-bnt {
    background-color: #AE9A71;
    border: 0 none;
    line-height: 23px;
    margin-right: 10px;
    min-width: 82px;
    padding: 5px 15px;
}
button.ea-bnt.btn-waiting {
    display:none;
    cursor:default;
}

.ea-bnt a:link, .ea-bnt a:visited, .ea-bnt a:hover, .ea-bnt a:active {
    background-color: #AE9A71;
    color: #FFFFFF;
    margin-right: 10px;
    padding: 5px 20px;
}

/*   start call box  */

#ea-callbox {
    display: inline-block;
    margin: 0 0 0 26px;
    width: 320px;
}

.ea-callbox-box {
    background-color:#e4e9e5;
    width:320px;
}

.ea-callbox-step {
    color: #3A3D3D;
    font-family: OpenSansBold;
    font-size: 14px;
    line-height: 31px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-top: 5px;
    text-transform: uppercase;
}

.ea-callbox-step-select {
    background-image: url(/earrangement/assets/images/img-callbox-select.jpg);
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: OpenSansBold;
    font-size: 14px;
    height: 40px;
    line-height: 31px;
    padding-left: 20px;
    padding-top: 10px;
    text-transform: uppercase;
    width: 320px;
}

.ea-callbox-step.back_link {
    cursor: pointer;
}
.ea-callbox-step.back_link:hover {
    text-decoration:underline;
}

.ea-callbox-line {
    background:url(/earrangement/assets/images/img-callbox-line.jpg) repeat-x;
    height: 4px;
    margin-bottom: 15px;
    margin-top: 8px;
}

.ea-callbox-inner {
    margin-left: 8px;
    padding-bottom: 10px;
}
.ea-callbox-inner-check {
    background:url(/earrangement/assets/images/img-callbox-check.jpg) no-repeat;
    display: inline-block;
    float: left;
    height: 23px;
    margin-right: 8px;
    width: 23px;
}

.ea-callbox-inner-text {
    color: #3A3D3D;
    display: block;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 20px;
    margin-left: 31px;
    margin-right: 60px;
}
.ea-callbox-inner-prices {
    color: #3A3D3D;
    display: inline-block;
    float: right;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    margin-right: -50px;
    padding-left: 10px;
}

.ea-callbox-subtotal-box {
    background-color: #3A3D3D;
    display: table;
    height: 33px;
    /*padding: 5px 18px 5px 23px;*/
    width: 100%;
}

.ea-callbox-subtotal-text {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font-family: OpenSansRegular;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
}

.ea-callbox-subtotal-prices {
    color: #FFFFFF;
    display: inline-block;
    float: right;
    font-family: OpenSansRegular;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
}

/*   end call box  */


.ea-choose-options-box {
    display: inline-block;
    width: 550px;
}

.ea-choose-options-box-inner {
    background:#ced7cf;
    border: 4px solid #CED7CF;
    clear: both;
    height: 38px;
    margin-bottom: 15px;
    padding: 0 5px;
}

.ea-choose-options-select {
    display: inline-block;
    float: left;
    padding-top: 5px;
    width: 30px;
}

.ea-choose-options-text {
    color: #554933;
    display: inline-block;
    float: left;
    font-family: OpenSansSemibold;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    width: 310px;
}

.ea-choose-options-view-details {
    color: #3A3D3D;
    display: inline-block;
    float: right;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 38px;
    width: 95px;
}

.ea-choose-options-view-details a:link, .ea-choose-options-view-details a:visited {
    color:#3a3d3d;
    text-decoration:underline;
}

.ea-choose-options-view-details a:hover, .ea-choose-options-view-details a:active {
    color:#402040;
    text-decoration:underline;
}

.ea-choose-options-price {
    color: #554933;
    display: inline-block;
    float: left;
    font-family: OpenSansRegular;
    font-size: 18px;
    line-height: 35px;
}

.package-include-box {
    background: none repeat scroll 0 0 #F8F8F8;
    margin-bottom: 20px;
    margin-top: -15px;
    padding: 15px 20px 5px;
}

.package-include-title {
    color: #3A3D3D;
    font-family: OpenSansBold;
    font-size: 15px;
    line-height: 35px;
    margin-top: 0;
}

.package-include-text {
    color: #3A3D3D;
    font-family: OpenSansRegular;
    font-size: 15px;
    line-height: 27px;
    margin-top: -15px;
}

.package-include-text ul li {
    color: #3A3D3D;
    font-family: OpenSansRegular;
    font-size: 15px;
    line-height: 27px;
    margin-left: -25px;
}

.ea-sub-title {
    color: #3A3D3D;
    font-family: OpenSansBold;
    font-size: 18px;
    font-weight: bold;
    line-height: 31px;
    padding-bottom: 26px;
    padding-left: 12px;
    padding-top: 8px;
    text-transform: uppercase;
}

.ea-choose-additional-options-box {
    display: inline-block;
    width: 550px;
}

.ea-choose-additional-options-box-inner {
    clear: both;
    display: table;
    margin-bottom: 15px;
    padding: 0 8px 10px 0;
}

.ea-choose-additional-options-select {
    display: inline-block;
    float: left;
    padding-left: 8px;
    padding-top: 5px;
    width: 75px;
}

.ea-choose-additional-options-text {
    color: #554933;
    display: inline-block;
    float: left;
    font-family: OpenSansBold;
    font-size: 16px;
    line-height: 25px;
    padding-right: 10px;
    width: 275px;
}

.ea-choose-additional-options-view-details {
    color: #7B9099;
    display: inline-block;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
}

.ea-choose-additional-options-view-details a:link, .ea-choose-additional-options-view-details a:visited {
    color:#7b9099;
    text-decoration:underline;
}

.ea-choose-additional-options-view-details a:hover, .ea-choose-additional-options-view-details a:active {
    color:#402040;
    text-decoration:underline;
}

.ea-choose-additional-options-price {
    color: #554933;
    display: inline-block;
    font-family: OpenSansRegular;
    font-size: 16px;
    line-height: 24px;
}

.package_opt > .clickable{
    cursor:pointer;
}
.service_opt > .clickable{
    cursor:pointer;
}

/*------------- ea light box ---------------*/

.ea-additional-option-lightbox-box-title {
    background-color: #98B3BE;
    clear: both;
    color: #3A3D3D;
    font-family: OpenSansBold;
    font-size: 18px;
    font-weight: bold;
    line-height: 31px;
    margin: 22px 15px 10px;
    padding: 7px 15px 5px 12px;
    text-transform: uppercase;
}

.ea-additional-option-lightbox-box-text {
    color: #554933;
    display: inline-block;
    float: left;
    font-family: OpenSansRegular;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 10px;
}

.ea-additional-option-lightbox-box-text ul {
    color: #554933;
    display: inline-block;
    float: left;
    font-family: OpenSansRegular;
    font-size: 16px;
    line-height: 25px;
    margin-left: -15px;
}

.ea-additional-option-lightbox-box-text li {
    color: #554933;
    display: inline-block;
    float: left;
    font-family: OpenSansRegular;
    font-size: 16px;
    line-height: 25px;
}


/*-------------end  ea light box ---------------*/



/******  Start  Step2  **********************/
.providing-cremation-urn-box {
    background-color: #C2B8A2;
    display: table;
    width: 100%;
}

.providing-cremation-urn-text {
    color: #554933;
    display: inline-block;
    float: left;
    font-family: OpenSansSemibold;
    font-size: 20px;
    line-height: 38px;
    padding-left: 15px;
    width: 455px;
}

.providing-cremation-urn-select {
    display: inline-block;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.if-yes-providing-cremation-urn-box {
    background-color: #E4E9E5;
    margin-top: 3px;
}

.if-yes-providing-cremation-urn-text {
    color: #554933;
    font-family: OpenSansRegular;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
}

.merchandise-box {
    clear: both;
    display: table;
    margin-top: 15px;
    width: 100%;
}

.merchandise-title {
    background-color: #CED7CF;
    color: #554933;
    font-family: OpenSansBold;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    margin-top: 5px;
    padding-left: 15px;
}
.merchandise-title > a {
    float: right;
    font-family: OpenSansRegular;
    font-size: 14px;
    font-weight: normal;
    margin-right: 25px;
    text-decoration: underline;
}

.merchandise-sub-title {
    color: #AECBD8;
    font-family: OpenSansBold;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    margin-top: 5px;
}

.merchandise-sub-title a:link, .merchandise-sub-title a:visited {
    color: #AECBD8;
    padding-left: 13px;
    padding-right: 13px;
    text-decoration: none;
}

.merchandise-sub-title a:hover,
.merchandise-sub-title a:active {
    color:#6E8B94;
    text-decoration:none;
}
.merchandise-sub-title a.show{
    color:#AE9A71;
}

.product-area {
    margin-left: 5px;
    margin-top: 12px;
    display:none;
}
.product-area.show {
    display:block;
}

.product-box {
    border: 1px solid #E6E7E7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    margin-right: 18px;
    width: 116px;
}
.product-box.selected {
    border: 1px solid #3A3D3D;
}
.product-box > .big-border{
    border: 3px solid white;
    border-radius: 3px 3px 3px 3px;
}
.product-box.selected > .big-border{
    border: 3px solid #3A3D3D;
}

.product-img {
    height: 115px;
    text-align: center;
}
.product-img > img {
    max-height: 105px;
    max-width: 100px;
    cursor:pointer;
}

.product-name {
    color: #404040;
    /*display: table-cell;*/
    font-family: OpenSansBold;
    font-size: 13px;
    height: 36px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    width: 110px;
}

.product-prices {
    color: #404040;
    font-family: PTSansRegular;
    font-size: 16px;
    line-height: 18px;
    margin-top: 13px;
    text-align: center;
}

.product-quality {
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
}

.product-quality-select {
    background: url(/earrangement/assets/images/img-arrow-quality.jpg) no-repeat scroll right center #ffffff;
    border: 1px solid #E4E9E5;
    display: inline-block;
    height: 28px;
    overflow: hidden;
    vertical-align: middle;
    width: 65px;
}


.product-quality-select select {
    background: transparent;
    border: 0 none;
    color: #3A3D3D;
    font-family: DroidSansBold;
    font-size: 14px;
    height: 35px;
    margin-left: -1px;
    margin-top: -7px;
    padding-left: 5px;
    padding-top: 13px;
    vertical-align: middle;
    width: 85px;
}

.product-type {
    color: #3A3D3D;
    font-family: Conv_novecentowide-demibold;
    font-size: 11px;
    line-height: 20px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.product-type-select {
    background: url(/earrangement/assets/images/img-arrow-quality.jpg) no-repeat scroll right center #ffffff;
    border: 1px solid #E4E9E5;
    display: inline-block;
    height: 28px;
    margin-bottom: -10px;
    margin-top: 12px;
    overflow: hidden;
    vertical-align: middle;
    width: 107px;
}


.product-type-select select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #3A3D3D;
    font-family: DroidSansBold;
    font-size: 14px;
    height: 35px;
    margin-left: -3px;
    margin-top: -7px;
    padding-left: 0;
    padding-top: 13px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 130px;
}

.venderlink {
    clear: both;
    font-size: 14px;
    padding-left: 200px;
    padding-top: 10px;
    width: auto;
}
.venderlink .lookingitem {
    width: 98%;
}
.message_pointer {
    left: 60px;
    position: absolute;
}
.flower_credit {
    color: #000000;
    float: right;
    font-size: 14px;
    font-weight: normal;
}

/******  End  Step2  **********************/


/******  Start  Step4  **********************/

.asterisk {
    font-size: 1em;
    color: maroon;
}

.form-title {
    background-color: #CED7CF;
    color: #554933;
    font-family: PTSansRegular;
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    padding-left: 15px;
}
.form-box {
    background-color: #E4E9E5;
    clear: both;
    margin-top: 15px;
    padding: 10px 15px;
}
.form-sub-title {
    color: #554933;
    font-family: OpenSansRegular;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 10px;
    text-align: center;
}
.form-sub-title-small {
    clear: both;
    color: #554933;
    display: block;
    font-family: OpenSansRegular;
    font-size: 12px;
    font-weight: normal;
    margin-top: -15px;
    text-align: center;
}

.form-field-box {
    clear: both;
    display: table;
    padding-bottom: 10px;
    width: 100%;
}
.form-lable  {
    color: #404040;
    display: inline-block;
    float: left;
    font-family: OpenSansRegular;
    font-size: 16px;
    margin-right: 15px;
    text-align: right;
    width: 45%;
}

.form-lable-center{
    color: #404040;
    font-family: OpenSansRegular;
    font-size: 16px;
    margin-right: 15px;
}
.form-field  {
    color: #404040;
    display: inline-block;
    font-family: OpenSansRegular;
    font-size: 16px;
    margin-right: 15px;
    width:255px;
}
.form-field-center {
    color: #404040;
    font-family: OpenSansRegular;
    font-size: 16px;
    text-align:center;
}
.form-field-text-small {
    color: #404040;
    display: inline-block;
    font-family: OpenSansRegular;
    font-size: 10px;
    margin-right: 15px;
}

.form-field input[type="text"], .form-field select, .form-field textarea{
    border-color: #BDBDBD #D8D8D8 #D8D8D8;
    border-style: solid;
    border-width: 1px;
    color: #404040;
    font-family: DroidSansRegular;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 2px;
}

.form-text-content {
    padding-bottom: 10px;
}

.form-text-content a:link, .form-text-content a:visited {
    text-decoration:underline;
}
.form-text-content a:hover, .form-text-content a:active {
    text-decoration:none;
}
.form-text-content-bold-italic {
    padding-bottom: 10px;
    font-weight:bold;
    font-style:italic;
}


.form-text-content-center {
    padding-bottom: 10px;
    text-align:center;

}

.form-text-content-initial {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.form-text-content-small {
    font-size: 12px;
    font-weight: normal;
}

.form-text-content-small-center {
    font-size: 12px;
    font-weight: normal;
    text-align:center;
}

.form-final-disposition-box {
    clear:both;
}
.form-final-disposition-choice {
    display: inline-block;
    float: left;
    width: 20px;
}

.form-final-disposition-text {
    display: inline-block;
    width: 500px;
}

.form-final-disposition-deliver-box {
    margin-top: 15px;
}
.form-final-disposition-deliver-lable {
    display: inline-block;
    float: left;
    padding-right: 10px;
    text-align: right;
    width: 45%;
}
.form-final-disposition-deliver-field {
    display: inline-block;
}

.form-inner-cremation-box {
    margin-top: 10px;
}
.form-inner-cremaion-lable {
    display: inline-block;
    float: left;
    width: 45%;
}

.form-inner-cremation-field {
    display: inline-block;
}

/******  End  Step4  **********************/

/******  Start  Step5  **********************/

.payment-sub-title {
    color: #554933;
    font-family: OpenSansRegular;
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 10px;
}
.payment-text-small {
    color: #404040;
    display: inline-block;
    font-family: OpenSansRegular;
    font-size: 10px;
}

.creditcard-logo {
    left: 390px;
    margin-top: -205px;
    position: absolute;
}

.comodo-logo {
    display: inline-block;
    height: 52px;
    left: 470px;
    margin-top: -85px;
    position: absolute;
}

.comodo-logo a:link, .comodo-logo a:visited {
    background-image: url(/earrangement/assets/images/secure-logo-normal.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 51px;
}

.comodo-logo a:hover, .comodo-logo a:active {
    background-image: url(/earrangement/assets/images/secure-logo-hover.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 51px;
}
input[name="ccnum"] {
    background-position: right center;
    background-repeat: no-repeat;
}

/******  End  Step5  **********************/

/* -----------------  Start SOGS ------------------ */
.sogs{
    font-family: Arial,Helvetica,sans-serif;
    width: 660px;
    margin: 0 auto;
    font-size: 11px;
}

.sogs input[type="text"]{
    background-color: transparent;
    border:0px;
    border-bottom: 1px solid #000;
}
.sogs-content{
    clear:both;
}
.sogs-title{
    font-size: 15px;
    font-weight: bold;
    padding: 0px 0;
    text-align: center;
}

.sogs-title-small{
    padding: 5px 0;
    text-align: center;
}

.sogs-text-top{
    line-height: 20px;
    padding-bottom: 5px;
    text-align: center;
}


.sogs-text{
    padding-bottom: 5px;
    text-align: justify;
}
.sogs-text-bold {
    font-weight: bold;
    padding-bottom: 5px;
    text-align: justify;
}
.sogs-text-italic{
    font-style: italic;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: justify;
}

.title-bold{
    font-weight: bold;
    margin-top: 5px;
}

.sogs-box-content {
    border: 2px solid #000000;
    margin: 10px 0;
    padding: 5px 5px 15px;
    width: 98%;
}
.sogs-box-content-title {
    font-weight: bold;
    text-align: center;
}
.sogs-box-content-text {
}

.sogs-box-content-text-small {
    font-size: 9px;
    line-height: 20px;
    text-align: center;
}
.sogs-box-content-text-box-inner {
    display: inline-block;
    vertical-align: top;
}

.statement-of-goods-box {
    clear: both;
    line-height: 15px;
}
.statement-of-goods-total {
    clear: both;
    font-weight: bold;
    line-height: 17px;
    margin-left: 50px;
    margin-top:5px;
}

.statement-of-advance-item-box {
    clear: both;
    font-weight: bold;
    line-height: 23px;
}
.statement-of-other-box {
    clear: both;
    font-weight: bold;
    line-height: 23px;
    margin:10px 0;
}


.statement-of-goods-box-details {
    display: inline-block;
    float: left;
    width: 83%;
}
.subitem .statement-of-goods-box-details {
    padding-left: 5%;
    width: 78%;
}
.statement-of-goods-box-details-bold {
    display: inline-block;
    float: left;
    font-weight:bold;
    width: 83%;
}
.statement-of-goods-box-total {
    display: inline-block;
    float: left;
    padding-right: 29px;
    text-align: right;
    width: 70%;
}
.statement-of-goods-box-details-small {
    font-size:10px;
}
.statement-of-goods-box-mark {
    display: inline-block;
}
.statement-of-goods-box-prices {
    display: inline-block;
    float: right;
    width: 14%;
}
.statement-of-goods-total .statement-of-goods-box-prices {
    float: none;
    width: 16%;
}
.statement-of-goods-box-prices .input {
    width: 100%;
}



div.input{
    border-bottom: 1px solid black;
    display: inline-block;
    line-height: 15px;
    text-align:left;
}
.sogs-right-side{
    float:right;
    /* width:360px; */
    width: 49%;
}
.sogs-left-side{
    float:left;
    /* width:380px; */
    width:49%;
}
.sogs-advance-items-box {
    display: table;
    margin-left: 25px;
    width: 95%;
}
.sogs-advance-items-box-left {
    float: left;
    width: 49%;
}
.sogs-advance-items-box-right {
    float: right;
    width: 49%;
}

.sogs-text-box-number {
    clear: both;
    display: inline-block;
    float: left;
    line-height:12px;
}
.sogs-text-box-details {
    display: inline-block;
    float: right;
    padding-bottom: 5px;
    width: 92%;
    line-height:14px;
}


.sogs-text-box-details-int {
    display: inline-block;
    float: right;
    padding-bottom: 5px;
    width: 92%;
}


/* -----------------  End SOGS ------------------ */
/* -----------------  Insurance Form ------------------ */

.sogs-app-logo {
    display: inline-block;
    float: left;
    width:125px;
}

.sogs-app-title{
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0 5px 20px;
}

.sogs-app-title-small{
    font-size: 15px;
    padding: 5px 0 5px 20px;
}
.sogs-app-name {
    clear: both;
    display: inline-block;
    width: 560px;
}
.sogs-center-side {
    clear: both;
}

.sogs-app-border {
    border: 2px solid #000000;
    padding: 5px 0;
}
.title-app-bold{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align:center;
}
.sogs-app-text {
    border-bottom: 1px solid;
    line-height: 10px;
    padding-left: 5px;
    padding-top: 8px;
}
.sogs-app-text-italic {
    font-style:italic;
    line-height: 10px;
    padding-left: 5px;
    padding-top: 8px;
}
.sogs-app-text-italic-bold {
    font-style:italic;
    padding-left: 5px;
    padding-top: 8px;
    font-weight:bold;
}
.sogs-app-text-bold {
    padding-left: 5px;
    padding-top: 8px;
    font-weight:bold;
}
.sogs-app-text-no-line {
    border-bottom: 0px solid;
    line-height: 10px;
    padding-left: 5px;
    padding-top: 8px;
}
.sogs-app-text-left-line {
    border-left: 1px solid;
    line-height: 12px;
    padding-left: 5px;
    padding-top: 8px;
}

.sogs-app-text-total-inner {
    border-right: 1px solid;
    clear: both;
    display: inline-table;
    height: 35px;
    padding-left: 5px;
    padding-top: 5px;
    width: 105px;
}
.sogs-app-text-total-inner-dash {
    border-right: 1px dashed;
    clear: both;
    display: inline-block;
}
.sogs-app-text-total-box {
    border-bottom: 1px solid;
}
.sogs-app-text-total-box-dash {
    border-bottom: 1px dashed;
}
.no-border-right {
    border-right: none;
}

.no-width {
    width:0px;
}

.total-more-padding {
    padding-left: 10px;
    vertical-align: sub;
}

.sogs-app-text-small {
    display: inline-block;
    font-size:10px;
    margin-top: -7px;
    padding-left: 5px;
    width: 110px;
}

.app-payment-box {
    display: inline-block;
    padding: 0 2px;
}
.sogs-app-line {
    border-bottom: 1px solid;
    line-height: 2px;
}

.assignment-box-left {
    border-right: 2px solid #CCCCCC;
    display: inline-block;
    float: left;
    padding: 8px;
}
.assignment-box-right {
    display: inline-block;
    padding: 10px;
    width: 560px;
}

.multi-pay-box {
    padding: 5px;
}
.multi-pay-box-number {
    display: inline-block;
    float: left;
    width: 15px;
}
.multi-pay-box-text {
    display: inline-block;
    float: left;
    width: 500px;
}

.multi-pay-box-checkbox {
    display: inline-block;
    float: left;
    text-align: center;
    width: 35px;
}

.multi-pay-box-text-intitial {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.sogs-center-side-text {
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
}

.plan-type-box-inner {
    padding: 5px;
}

.plan-type-box-col1,
.plan-type-box-col2,
.plan-type-box-col3,
.plan-type-box-col4,
.plan-type-box-col5,
.plan-type-box-col6,
.plan-type-box-col7 {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 95px;
}

.plan-type-box {
    display: table;
}

.text-underline {
    text-decoration:underline;
}

.agreement-box-inner {
    display: inline-block;
    float: left;
    width: 335px;
}

/* -----------------  End Insurance Form ------------------ */


/*
 * Message Badge
 */
.message_badge {
    background-color: #FFFFFF;
    border: 2px solid #FF0000;
    border-radius: 5px;
    margin: 10px 0 15px;
    padding: 5px 20px;
    color: red;
}
.message_badge *{
    color: inherit;
}


/*
 * Print
 */
@media print{
    .noPrint, .noprint{
        display:none;
    }
}

